<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<div class="fondo">
    <div class="texto">
        <h2>WELCOME!</h2>
    </div>
    <div class="titulo"><h2>USER MENU</h2></div>
    <div class="menu">
        <div class="openDataEuskadi">OPEN DATA EUSKADI</div>
        <a routerLink="/perfil" routerLinkActive="active"> 
            <div class="usuario">MY PROFILE</div>
        </a>
        <div class="opciones">LANGUAGE</div>
        <a routerLink="/login" routerLinkActive="active">
        <div class="logout">LOG OUT</div></a> 
    </div>
    
</div>