<div class="fondo">
    <div class="titulo"><h2>ADMIN MENU</h2></div>
    <div class="container">
        <table datatable class="table table-striped table-bordered row-border hover">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Localidad</th>
                <th>Pais</th>
                <th>Direccion</th>
                <th>Codigo Postal</th>
                <th>Telefono</th>
                <th>Usuario</th>
                <th>Ver</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of data">
                <td>{{ data.nombre }}</td>
                <td>{{ data.apellido }}</td>
                <td>{{ data.email }}</td>
                <td>{{ data.localidad }}</td>
                <td>{{ data.pais }}</td>
                <td>{{ data.direccion }}</td>
                <td>{{ data.codigoPostal }}</td>
                <td>{{ data.telefono }}</td>
                <td>{{ data.usuario }}</td>
                <td><a [routerLink]="['/datosUsuarioAdmin', data.usuario]"><button>Ver</button></a></td>
            </tr>
            </tbody>
        </table>
    </div>
    
    <!-- <table>
        <tr>
            <td><h2 style="color: red">nombre</h2></td>
            <td><h2 style="color: red">apellido</h2></td>
            <td><h2 style="color: red">email</h2></td>
            <td><h2 style="color: red">localidad</h2></td>
            <td><h2 style="color: red">pais</h2></td>
            <td><h2 style="color: red">direccion</h2></td>
            <td><h2 style="color: red">codigoPostal</h2></td>
            <td><h2 style="color: red">telefono</h2></td>
            <td><h2 style="color: red">usuario</h2></td>
            <td><h2 style="color: red">ver</h2></td>
        </tr>
        <tr *ngFor="let data of data">
            <td id="uno"><h2>{{data.nombre}}</h2></td>
            <td id="dos"><h2>{{data.apellido}}</h2></td>
            <td><h2>{{data.email}}</h2></td>
            <td><h2>{{data.localidad}}</h2></td>
            <td><h2>{{data.pais}}</h2></td>
            <td><h2>{{data.direccion}}</h2></td>
            <td><h2>{{data.codigoPostal}}</h2></td>
            <td><h2>{{data.telefono}}</h2></td>
            <td><h2>{{data.usuario}}</h2></td>
            <td><button>Ver Usuario</button></td>
        </tr>
    </table> -->
</div>
