*{
    font-family: 'Bree Serif', serif;
}

.fondo{
    position: absolute;
    background: antiquewhite;
    background-size: cover;
    width: 100%;
    height: 100vh;
    border-top: 5vh solid rgb(36, 36, 36);
    border-bottom: 5vh solid rgb(36, 36, 36);
    z-index: -1;
    margin-top: -30vh;
}

.logoregistro{
    position: absolute;
    top: 50.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 55em;
    z-index: -1;
    opacity: 0.2;
}

.formulario{
    margin: auto;
    margin-top: 30vh;
    width: 25vw;
    height: 40vh;
    background-color: transparent;
    z-index: 1;
    border-radius: 8px;
    border: 3px solid rgb(16, 16, 16);
    box-shadow: inset 0px 0px 20px 2px rgba(27, 27, 27,0.75);
}

#titulo{
    margin-top: 5vh;
    margin-bottom: 2vh;
    font-size: 2.5em;
    color: c9c9c9;
    text-align: center;
}

.botonLogin{
    width: 30%;
    min-width: 100px;
    background-color: #C9C9C9;
    padding: 10px 10px;
    color: black;
    display: flex;
    transition: .2s ease-in-out;
    margin-top: 2vh;
    text-decoration: none; 
    border: 2px solid #000;
    transform: scale(1.05);
    cursor: pointer;
    margin-left: 9.2vw;
}

.botonLogin i {
    color: rgba(16, 16, 16,0.75);
    font-size: 20px;
    padding-right: 10px;
    transition: .3s ease-in-out; 
    margin-top: 0.3vh;
}

.botonLogin span {
    align-self: center;
    opacity: 1;
    transition: .2s ease-in-out; 
    
}

.botonLogin:hover {
    transform: scale(1.2);
    background: linear-gradient(to right, rgb(117, 253, 76) 0%, whitesmoke 100%); 
    
    }
    
.botonLogin:hover i {
    transform: translateX(4.8vw) scale(1.5);
    color: rgb(60, 255, 0); 
    }

.botonLogin:hover span {
    opacity: 0; 
}

.campos{
    width: 18vw;
    background: #FFF;
    outline: none;
    border: none;
    padding: 10px;
    margin-top: 1vh;
    border-radius: 6px;
    color: #000;
    font-style: 18px;
    margin-bottom: 1vh;
    border: none;
    border-bottom: 2px solid #222;
    margin-left: 3vw;
}

#botonMostrarForm{
    cursor: pointer;
}

.login{
    position: absolute;
    padding: 10px;
    border-radius: 20px;
    top: 70px;
    left: 50px;
    width: 5.8vw;
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(16, 16, 16);
    cursor: pointer;
}

.login:hover{
    color:wheat;
    background-color: rgb(16, 16, 16);
}

.volver{
    position: absolute;
    padding: 10px;
    border-radius: 20px;
    top: 70px;
    right: 50px;
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(16, 16, 16);
    cursor: pointer;
}

.volver:hover{
    color:wheat;
    background-color: rgb(16, 16, 16);
}

#text2{
    display: block;
    color: rgb(16, 16, 16);
    font-weight: 300;
    padding: 5px;
    text-align: center;
}

@media screen and (max-width: 415px) {

    .fondo{
        margin-top: -14vh;
        height: 100vh;
    }
    .formulario{
        margin: auto;
        margin-top: 14vh;
        width: 80vw;
        height: 75vh;
        background-color: transparent;
        z-index: 1;
        border-radius: 8px;
        border: 3px solid rgb(16, 16, 16);
        box-shadow: inset 0px 0px 20px 2px rgba(27, 27, 27,0.75);
    }

    .logoregistro{
        opacity: 0;
    }

    .login{
        border-radius: 20px;
        top: 40px;
        left: 7px;
        width: 22vw;
        font-size: 25px;
    }

    .login:hover{
        border-radius: 20px;
        top: 30px;
        left: 7px;
        font-size: 25px;
    }

    .volver{
        border-radius: 20px;
        top: 40px;
        right: 10px;
        width: 30vw;
        font-size: 25px;
    }

    .volver:hover{
        border-radius: 20px;
        top: 30px;
        right: 10px;
        width: 30vw;
        font-size: 25px;
    }

    .campos{
        width: 60vw;
        background: #FFF;
        outline: none;
        border: none;
        padding: 10px;
        margin-top: 5vh;
        border-radius: 6px;
        color: #000;
        font-style: 18px;
        margin-bottom: 1vh;
        border: none;
        border-bottom: 2px solid #222;
        margin-left: 7vw;
    }

    .botonLogin{
        width: 35%;
        min-width: 100px;
        padding: 10px 10px;
        color: black;
        display: flex;
        transition: .2s ease-in-out;
        margin-top: 2vh;
        text-decoration: none; 
        border: 2px solid #000;
        transform: scale(1.05);
        cursor: pointer;
        margin-left: 26vw;
        margin-top: 10vh;
    }
}