<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">

<div class="fondo"></div>
<span class="material-icons logoregistro">
    account_circle
</span>
<div class="formulario">
    <a routerLink="/login" routerLinkActive="active">
    <div class="login">LOGIN</div></a> 
    <h3 id="titulo"><u>SIGN IN</u></h3>
    <div class="inputBox2">
        <span id="text2">Introduce your email and password</span>
        <input type="text" name="email" class="campos" placeholder="Email" value="">
        <input type="text" name="Contraseña" class="campos" placeholder="Password" value="">                
        <button type="submit" class="botonLogin">
            <i class="fas fa-check"></i>
            <span>SIGN IN</span>
        </button>                               
    </div>
    <a routerLink="" routerLinkActive="active">
        <div class="volver">GO BACK</div></a> 
</div>